<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Godot Android plugin v2 registration. Key suffix MUST equal getPluginName(). -->
        <meta-data
            android:name="org.godotengine.plugin.v2.MHPlayIntegrity"
            android:value="com.mulliganhills.playintegrity.MHPlayIntegrityPlugin" />
    </application>
</manifest>
